@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
body {
  /* Using a warm, soft off-white instead of pure #FFFFFF */
  background-color: #F9F8F6; 
  color: #44403C; /* A slightly softer black for better readability */
}